---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navi from '../components/SideMenu.astro';
import Footer from '../layouts/Footer.astro';

import { WORKS, CATEGORIES, CATEGORY_NAMES } from '@/data';

---

<Layout title="Open Source Works by Saiya">
	<main>
		<h1>Works by <span class="text-gradient">Saiya</span></h1>
		<Navi />
		{
			CATEGORIES.map(category => (
				<div class="category-group">
					<h2 id={category} class="category-title">{CATEGORY_NAMES[category]}</h2>
					<ul role="list" class="link-card-grid">
						{
							WORKS
								.filter(work => work.cate === category)
								.map(work => (
								<Card
									href={work.link}
									title={work.title}
									body={work.description}
									github={work.github}
									cate={category}
									image={work.image}
								/>
							))
						}
					</ul>
				</div>
			))
		}
		<Footer />
	</main>
</Layout>

<style lang="scss">
	main {
		position: relative;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 18px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.category-group {
		margin-bottom: 2rem;

		.category-title {
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 1rem;
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
