---
import { Github } from 'lucide-react'
import { NpmTag } from './Tags'
import { Bg } from './Bg'
import { type ICategory } from '@/data'
interface Props {
	title: string;
	body: string;
	href: string;
	github: string;
	cate: ICategory;
	image: string
}


const { href, title, body, github, cate, image } = Astro.props;
---

<li class="link-card p-px relative">
	<Bg image={image} cate={cate} />
	<div class="card-inner h-full flex flex-col rounded-lg opacity-80">
	<a href={href} class="card-content">
		<h3>
			{title}
			<span>&rarr;</span>
		</h3>
		<p>
			{body}
		</p>
	</a>
	<div class="card-footer">
		<a href={github} target="_blank" rel="noopener noreferrer">
			<Github />
			Github
		</a>
		<NpmTag name={cate === 'npm' ? title : ''} />
	</div>
	</div>
	
</li>
<style lang="scss" is:global>
	.link-card {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

		&:is(:hover, :focus-within) {
			background-position: 0;
			background-image: var(--accent-gradient);

			h3 {
				color: rgb(var(--accent-light));
			}
		}
		.card-inner {
			background-color: #23262d;
		}

		.card-content {
			flex: 1;
			width: 100%;
			text-decoration: none;
			line-height: 1.4;
			padding: 1.5rem;
			color: white;
		}


		h3 {
			margin: 0;
			font-size: 1.25rem;
			transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		}
		p {
			margin-top: 0.5rem;
			margin-bottom: 0;
			word-break: keep-all;
			word-wrap: break-word;
			hyphens: auto;
		}

		$footer-font-size: 14px;

		.card-footer {
			display: flex;
			padding: 0 1.5rem 1rem;
			font-size: $footer-font-size * 0.8;
			gap: 0.2rem;

			a {
				display: inline-flex;
				align-items: center;
			}
			
			svg {
				display: inline-block;
				vertical-align: top;
				width: $footer-font-size; height: $footer-font-size;
			}
		}
	
	}

</style>
